/* Importa la fuente Open Sans de Google Fonts y Reiniciar los estilos*/
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Pagina web (pw) ESTILOS GLOBALES */
:root {
  --white-app: #ffff;
  --gray-app: #d9d9d6;
  --gray2-app: #666666;
  --green-app: #4ca285;
}
/* Establece el tamaño de fuente base en el elemento html */
html {
  font-size: 18px; /* Tamaño de fuente predeterminado */
}
/* Pagina web (pw) DEBUG */
body {
  font-family: "Open Sans", sans-serif;
  /* background-color: var(--gray-app); */
}
/* Pagina web (pw) HEADER */
/* .pw-container {
   width: 100%;
  height: 100%; 
} */
.pw-nav {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  /* background-color: var(--green-app); */
  background: linear-gradient(
    349deg,
    rgba(28, 201, 125, 0.8911939775910365) 42%,
    rgba(76, 162, 133, 1) 65%
  );
  width: 100%;
  height: 10rem;
}
/* Pagina web (pw) TITULO PRINCIPAL DE LA PAGINA */
.pw-container-pw-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
}
.pw-title {
  margin: 0;
  padding: 5rem 1rem 1rem 1rem; /* arriba derecha abajo izquierda */
  font-size: 2em;
  font-weight: 100;
  color: var(--white-app);
}
.pw-container-div {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
  height: 20rem;
  width: 40rem;
  background-color: var(--white-app);
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: absolute; /* Se superpone a otros elementos */
  top: 6rem; /* Se alinea en la parte superior de la barra de navegación */
  left: 15rem; /* Se alinea en la izquierda de la barra de navegación */
  width: 60%; /* Establece el ancho para cubrir toda la ventana gráfica */
  /* Ajusta la altura según sea necesario */
}

/* */
.pw-lechuga-logo {
  height: 4rem;
  width: 4rem;
}
/* Pagina web(pw)FORMULARIO */
.pw-form {
  height: 100%;
  width: 80%;

}
.pw-input {
  border-radius: 0.7rem;
  height: 1.7rem;
  width: 93%;
  border: 1px solid var(--gray-app); /* Adjust width and color as needed */
}
.pw-input[placeholder] {
  padding-left: 5%;
}
.pw-input:focus {
  border: 2px solid #ccc; 
}
.pw-label {
  color: var(--gray2-app);
  margin-top: 100rem;
  margin-left: 0.5rem;
}
/* Card */
.pw-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
 
}
.pw-card {
  height: 15rem;
  width: 11rem;
  border: 1px solid var(--gray-app);
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

/* css grid */
.grid {
  display: grid;
  grid-template-columns: 300rem 300rem 300rem;
  grid-template-rows: 200rem;
}