body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.body-gradiet {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 2, 57, 1) 0%,
    rgba(9, 9, 121, 1) 53%,
    rgba(0, 71, 171, 1) 100%
  );
}
.body-white {
  background: #EEEE;
}
.body-red {
  background: red;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #444;
}

/* My components */

/* Table */
.container-table {
  display: flex;
  margin: 3% 1%; /* Combines top, left, and right margins */
  margin-bottom: 0%;
  margin-top: 0;
}
.table-left {
  width: 50%;
  margin-bottom: 50%;
}
.table-right {
  width: 50%;
  margin-bottom: 50%;
}
.button-container {
  margin-left: 4%;
}
.card-container {
  width: 100px;
}

/*Footer */
footer {
  color: #333;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 97%;
  /* border-top: 1px solid #999999; */
}

.nav {
  margin-top: -20px;
  margin-left: -20px;
  margin-bottom: 20px;
  height: 75px;
}
.nav-container {
  width: 103.1%;
}
.container-title-table {
  display: flex;
}

/*Login Form*/
.container-logo-login {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.logo-login {
  width: 150px;
  height: 100px;
}

/* Buttoms */
.btn-generate-pdf {
  margin-left: 10px;
  margin-bottom: 13px;
}

/* Input file */
.file-select {
  position: relative;
  display: inline-block;
  height: 27px;
}

.file-select::before {
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: "Seleccionar"; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 180px;
  height: 20px;
  display: inline-block;
}

.file-select input[type="file"]:hover {
  cursor: pointer;
}

#src-file1::before {
  content: "Importar Archivo Excel";
}
/* .version-label {
  font-size: 0.75rem;
  font-weight: bold;
  color: #000;
  border: 1px solid #ccc;
} */
.version-label {
  float: right;
  margin-right: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #000;
  border: 1px solid #ccc;
}

.red-table {
  background-color: #b5b5b5 !important;
}

.img-logo {
  width: 10px;
  height: 50px;
  top: 5px;
}

/* Loader */
.container-loader {
  /* background: #999999; */
  display: flex;
  justify-content: center;
  width: 80%;
  height: 400px;
  border-radius: 20px;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  /* opacity: 0.5; */
}

.loader {
  /* My style */
  /* margin-top: 50%; */
  margin-top: 10%;
  width: 120px;
  height: 150px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ddd 50%, #bbb 51%),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
    radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%);
  background-position: 0 20px, 45px 0, 8px 6px, 55px 3px, 75px 3px, 95px 3px;
  background-size: 100% 4px, 1px 23px, 30px 8px, 15px 15px, 15px 15px, 15px 15px;
  position: relative;
  border-radius: 6%;
  animation: shake 3s ease-in-out infinite;
  transform-origin: 60px 180px;
}

.loader:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 100%;
  width: 7px;
  height: 5px;
  background: #aaa;
  border-radius: 0 0 4px 4px;
  box-shadow: 102px 0 #aaa;
}

.loader:after {
  content: "";
  position: absolute;
  width: 95px;
  height: 95px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  background-color: #bbdefb;
  background-image: linear-gradient(
      to right,
      #0004 0%,
      #0004 49%,
      #0000 50%,
      #0000 100%
    ),
    linear-gradient(135deg, #64b5f6 50%, #607d8b 51%);
  background-size: 30px 100%, 90px 80px;
  border-radius: 50%;
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
  border: 10px solid #ddd;
  box-shadow: 0 0 0 4px #999 inset, 0 0 6px 6px #0004 inset;
  animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  75% {
    transform: rotate(750deg);
  }

  100% {
    transform: rotate(1800deg);
  }
}

@keyframes shake {
  65%,
  80%,
  88%,
  96% {
    transform: rotate(0.5deg);
  }

  50%,
  75%,
  84%,
  92% {
    transform: rotate(-0.5deg);
  }

  0%,
  50%,
  100% {
    transform: rotate(0);
  }
}

.container-select-list {
  background: #EBEDEF;
  /* display: flex;
  justify-content: center; */
  display: flex;
  width: 80%;
  height: 450px;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid #999999; */
  /* opacity: 0.5; */
}

.card-select-list {
  margin-top: 1.5%;
}

.combo-select-list {
  width: 450px;
  height: 90px;
  /* margin-left: 2%; */
}

.separador-text {
  margin-top: 1%;
}

.table-container {
  display: flex;
}

.rightBtn {
  margin-top: 100%;
  height: 500px;
  width: 108px;
}
.deleteBtn {
  width: 108px;
}

.loaderPdf {
  width: 48px;
  height: 48px;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loaderPdf::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #2ecc71;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


/* IMAGEN */
.formulario {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.formulario-boton {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0080ff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.formulario-boton:hover {
  background-color: #0059b3;
}
/* scroll */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(228, 8%, 76%);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(228, 8%, 64%);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 0.5rem;
  background-color: hsl(228, 8%, 54%);
}

.form {
  background-color: #fff;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 1px solid rgb(159, 159, 160);
  border-radius: 20px;
  padding: 2rem 0.7rem 0.7rem 0.7rem;
  text-align: center;
  font-size: 1.125rem;
  max-width: 320px;
}

.form-title {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.form-paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105, 105, 105);
}

.drop-container {
  background-color: #fff;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 2.1875rem;
  border-radius: 10px;
  border: 2px dashed rgb(171, 202, 255);
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: rgba(238, 255, 0, 0.164);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #0059b3;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}
.container {
  max-width: 60%;
  margin-top: 1%;
}
